[Unit]
Description=RC Mini-Autonomous racer (LiDAR + IMU + Control + Web)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/rc_racer

ExecStart=/home/pi/rc_racer/.venv/bin/python /home/pi/rc_racer/main.py

Restart=always
RestartSec=2

StandardOutput=journal
StandardError=journal

Nice=-5

[Install]
WantedBy=multi-user.target
